body {
    font-family: sans-serif;
    font-size: 1.3rem;
    background-image: url("../img/wp4974476-front-end-wallpapers.jpg");
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
}

.navbar-main {
    width: 90%;
    margin: 5vh auto;
    display: flex;
    justify-content: flex-end;
}

#contact-me {
    color: white;
    background-color: orange;
    border-radius: 20px;
}

#contact-me:hover {
    background-color: #ff8c00;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-link {
    text-decoration: none;
    color: grey;
    margin-right: 30px;
    padding: 20px;
    transition: 0.3s;
}

.nav-link-btn {
    color: white;
    background-color: #f16529;
    padding: 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.nav-link-btn:hover {
    background-color: #ff8c00;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-link:hover {
    color: rgb(219, 216, 216);
    background-color: #525050;
    padding: 20px;
    border-radius: 30px;
}

#nav-link-btn-contact {
    text-decoration: none;
    color: white;
}

#nav-link-btn-contact:hover {
    color: white;
    border-radius: 30px;
    transition: 0.3s;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

.main-container h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Caveat", cursive;
}

.header-div {
    height: 400px;
    background-color: #525050;
    border-radius: 10px;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(73, 72, 72);
    width: 35%;
    margin: 5vh auto;
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.courses {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.html-div {
    background-color: #ffffff23;
    height: 250px;
    border-radius: 0 10px 0 10px;
    padding: 30px;
    border-bottom: 10px solid #f16529;
    color: rgb(177, 174, 174);
}

.css-div {
    background-color: #ffffff23;
    height: 250px;
    border-radius: 0 10px 0 10px;
    padding: 30px;
    border-bottom: 10px solid #2965f1;
    color: rgb(177, 174, 174);
}

.js-div {
    background-color: #ffffff23;
    height: 250px;
    border-radius: 0 10px 0 10px;
    padding: 30px;
    border-bottom: 10px solid #f1d229;
    color: rgb(177, 174, 174);
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 5vh auto;
    color: rgb(185, 185, 185);
}

.courses-link {
    text-decoration: none;
    color: white;
    background-color: #f16529;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.courses-link:hover {
    background-color: #ff8c00;
    border-radius: 10px;
    transition: 0.3s;
}

.courses-line {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #525050;
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: 20px;
    background-color: #525050;
    border-radius: 5px;
}

.myProjects, .myGames {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 5vh;
}

.myProjects h2, .myGames h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.designs {
    height: 300px;
    background-color: #ffffff23;
}

/* Contact me */

@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#contactMe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    border: 2px solid #f16529;
    padding: 30px;
    backdrop-filter: blur(10px);
    display: none;
    animation: popup 0.5s linear;
}

#contactMe h2 {
    text-align: center;
    color: white;
}

#name, #email, #message {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #f16529;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px #f16529;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: #f16529;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}